.card-container {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
}

.card-container:hover {
    transform: scale(1.05);
}